.about-us-title {
  margin-top: 30px;
  font-size: 36px;
  text-align: center;
}
.about-us-img {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 100%;
}
.about-us-text-container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  max-width: 100%;
}
.about-us-logo {
  font-weight: 600;
}
.about-us-text {
  margin-bottom: 14px;
  font-size: 18px;
}
