@import './card-modal';

.bicycle-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.bicycle-title {
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.bicycle-list {
  display: flex;
  // column-gap: 32px;
}
.bicycle-des {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bicycle-item {
  width: 290px;
  height: 300px;
  box-shadow: 0 2px 1px #2e2f4214, 0 1px 1px #2e2f4229, 0 1px 6px #2e2f4214;
  cursor: pointer;
}
.img-bike-section {
  margin-bottom: 25px;
}
.bicycle-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 0 16px;
}
.bicycle-price {
  font-weight: 200;
  font-size: 16px;
  line-height: 23px;
  // text-transform: capitalize;
  color: #2e2f42;
  padding: 0 16px 16px;
}
.swiper-slide {
  padding: 10px;
}
.bike-item {
  cursor: pointer;
}
.bike-section-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 0 16px 16px;
}
