.card-modal {
  width: 335px;
  min-height: 678px;
  background-color: #ffffff;
  border: 2px solid #111111;
  border-radius: 18px;
  padding: 40px 24px;
  text-align: center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    // display: flex;
    // flex-wrap: wrap;
    width: 579px;
    min-height: 465px;
    padding: 40px 40px;
  }
  @media screen and (max-width: 767.98px) {
    min-height: auto;
  }
}
@media screen and (min-width: 768px) {
  .card-modal-details {
    margin-left: 24px;
    // width: 279px;
  }
}
body.dark-theme .card-modal {
  background-color: var(--primary-bg-color-dark);
  border: 2px solid var(--title-text-color-theme-dark);
}
.card-modal-img {
  height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    height: 281px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 767.98px) {
    // width:
    height: 150px;
    margin-bottom: 40px;
  }
}

.card-modal-title {
  margin-bottom: 4px;
  // font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  // line-height: calc(16 / 18);
  letter-spacing: -0.04em;
  color: #111111;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    font-size: 24px;
    // line-height: 28px;
  }
}
body.dark-theme .card-modal-title {
  color: var(--title-text-color-theme-dark);
}
.card-modal-price {
  margin-bottom: 18px;
  // font-family: 'DM Sans';
  font-weight: 500;
  font-size: 24px;
  // line-height: 18px;
  letter-spacing: -0.02em;

  //   color: #b4afaf;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 20px;
    // line-height: 18px;
  }
}
.card-modal-text {
  margin-bottom: 12px;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}
.card-modal-desc {
  max-width: 287px;
  margin-bottom: 14px;
  // font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  // line-height: 18px;
  letter-spacing: -0.04em;
  color: #111111;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}
body.dark-theme .card-modal-desc {
  color: var(--title-text-color-theme-dark);
}
.icon-card-modal-list {
  margin-bottom: 40px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}
body.dark-theme .icon-card-modal-list {
  fill: var(--title-text-color-theme-dark);
}

.icon-card-modal {
  display: block;
  width: 24px;
  height: 24px;
  transition: fill var(--main-transition);
}
.icon-card-modal:hover,
.icon-card-modal:focus {
  fill: var(--accent-color);
}

.home-cards-item {
  cursor: pointer;
}
.card-modal-btn {
  display: flex;
  // margin-right: auto;
  // margin-left: auto;
  margin-bottom: 8px;
  padding: 14px 47px;
  // font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  // line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111111;
  border: 2px solid var(--accent-color);
  border-radius: 40px;
  cursor: pointer;
  transition: background-color var(--main-transition),
    color var(--main-transition);
  @media screen and (min-width: 768px) {
    font-size: 18px;
    // line-height: 24px;
  }
}
.card-modal-btn:hover,
.card-modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.card-modal-btn.js-add {
  @media screen and (min-width: 768px) {
    padding: 20px 126px;
  }
}
.card-modal-btn.js-remove {
  @media screen and (min-width: 768px) {
    padding: 20px 95px;
  }
}
.card-modal-buy {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 242px;

  // font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  // line-height: 12px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.5);
  @media screen and (min-width: 768px) {
    width: 324px;
    font-size: 12px;
    // line-height: 14px;
  }
}
body.dark-theme .card-modal-buy {
  color: var(--primary-text-color-theme-dark);
}
.card-modal-close {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    top: 31px;
    right: 31px;
  }
}
.icon-card-modal-close {
  width: 14px;
  height: 14px;
}
.icon-card-modal-close:hover,
.icon-card-modal-close:focus {
  fill: var(--accent-color);
  transition: var(--animation);
}
body.dark-theme .icon-card-modal-close {
  fill: var(--title-text-color-theme-dark);
}
body.dark-theme .icon-card-modal-close:hover,
body.dark-theme .icon-card-modal-close:focus {
  fill: var(--accent-color);
  transition: var(--animation);
}
.js-add::after {
  content: 'Додати до кошика';
}
.js-remove::after {
  content: 'Видалити з кошика';
}
body.dark-theme .card-modal,
body.dark-theme .card-modal-btn {
  background-color: var(--primary-bg-color-dark);
  color: var(--title-text-color-theme-dark);
}
