body {
  background-color: #f6f6f6;
}
.shopping-list-wrapper {
  display: flex;
  justify-content: center;
}
.sl-cont {
  padding-top: 60px;
}
.sl-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;

  color: #111111;
  color: var(--title-text-color-theme-light);
  margin-bottom: 40px;
  text-align: center;
}

.empty-cart {
  width: 265px;

  margin-right: auto;
  margin-left: auto;
}

.sl-part {
  color: var(--accent-color);
}

.sl-list > li {
  margin-bottom: 20px;
  max-width: 335px;
}

.trash-btn {
  position: relative;
  top: 14px;
  right: 14px;
  padding: 12px;

  width: 28px;
  height: 28px;
  border: none;
  background: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
}

.trash-btn > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 16px;
  height: 16px;
}

.sl-card {
  height: 170px;
  width: 100%;
  display: flex;

  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;

  background-color: var(--header-bg-color-theme-light);

  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.sl-card.removing {
  opacity: 0;
}

.sl-product-img {
  margin: 14px;
  border-radius: 8px;
}

.sl-product-cat {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  margin-bottom: 8px;
}

.sl-product-title {
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--title-text-color-theme-light);

  margin-top: 14px;
  margin-bottom: 4px;
}

.sl-product-descr {
  height: 68px;
  overflow-y: scroll;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: var(--title-text-color-theme-light);
}
.sl-product-descr::-webkit-scrollbar {
  width: 8px;
}

.sl-product-descr::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text-color);
  border-radius: 12px;
  height: 4px;
}

.sl-product-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}

.sl-product-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}

.sl-product-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #b4afaf;

  margin-right: auto;

  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sl-aut-shops {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-eshops {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-eshops > li:not(:last-child) {
  margin-right: 8px;
}

.sl-message {
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.02em;

  color: rgba(0, 0, 0, 0.6);
}
// Tablet styles

@media screen and (min-width: 768px) {
  .sl-list > li {
    max-width: 704px;
  }

  .sl-card {
    height: 213px;
  }

  .sl-product-img {
    // width: 116px;
    margin: 24px;
  }

  .sl-product-title {
    margin-top: 24px;
    overflow: visible;
    width: auto;
  }

  .sl-product-cat {
    margin-bottom: 14px;
  }

  .sl-product-descr {
    margin-bottom: 20px;
    padding: 0;
  }

  .sl-product-author {
    overflow: visible;
  }

  .trash-btn {
    top: 24px;
    right: 24px;

    width: 34px;
    height: 34px;
  }

  .trash-btn > svg {
    width: 18px;
    height: 18px;
  }

  .sl-product-info {
    width: inherit;
  }

  .sl-message {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 20px;
  }

  .sl-eshops > li:not(:last-child) {
    margin-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .sl-list > li {
    max-width: 996px;
  }
}
html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex: none;
}

main {
  overflow-y: scroll;
  flex: auto;
  display: grid;
}
