@font-face {
  font-family: 'Kharkiv';
  src: url(../fonts/Kharkiv-Tone.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Kharkiv';
  src: url(../fonts/Kharkiv-Tone.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Kharkiv';
  src: url(../fonts/Kharkiv-Tone.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Kharkiv';
  src: url(../fonts/Kharkiv-Tone.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Kharkiv';
  src: url(../fonts/Kharkiv-Tone.ttf);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
