.footer {
  background-color: var(--title-text-color);
}

@media screen and (max-width: 767.98px) {
  .logo-footer {
    text-align: center;
  }
}

.footer-list {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-item:nth-child(1) {
    margin-right: 120px;
  }
  .footer-item:nth-child(2) {
    margin-right: 120px;
  }
}

.footer-text {
  margin: 0 auto;
  max-width: 350px;
  width: 100%;

  color: var(--secondary-text-color);
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.footer-headline {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.footer-item .social-list {
  justify-content: center;
  gap: 16px;
}

.social-list {
  display: flex;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
}

.social-link.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--main-transition);
}

.social-link.footer-social-link:hover,
.social-link.footer-social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  display: block;
  fill: var(--white-color);
}

.social-icon.footer-icon {
  width: 20px;
  height: 20px;
}

.footer-nav {
  display: flex;
  gap: 100px;
}

.footer-nav-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;

  transition: color var(--main-transition),
    background-color var(--main-transition), box-shadow var(--main-transition);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--accent-color);
}

.footer-nav-item {
  margin-bottom: 12px;
}

@media screen and (max-width: 767.98px) {
  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer-text {
    text-align: center;
  }
  .footer-headline {
    text-align: center;
  }
  .footer-nav {
    display: block;
    text-align: center;
  }
}
