.location-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.icon-location {
  width: 20px;
  height: 20px;
}
.location-adress {
  display: flex;
}
.location-info {
  display: flex;
  justify-content: space-between;
}
.container.location-info {
  padding-left: 115px;
  padding-right: 115px;
}
.location-tel-list {
  margin-bottom: 20px;
}
.tel-nr {
  color: #000000;
  transition: color var(--main-transition);
}
.tel-nr:hover,
.tel-nr:focus {
  color: var(--accent-color);
}
.location-tel-item:not(:last-child) {
  margin-bottom: 8px;
}
.location-adress-text {
  font-size: 18px;
  color: #000000;
  margin-bottom: 12px;
  transition: color var(--main-transition);
}
.location-adress-text:hover,
.location-adress-text:focus {
  color: var(--accent-color);
}

.schedule-item {
  margin-bottom: 8px;
}
