.our-gallery-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.our-gallery-container {
  position: relative;
}
.our-gallery-title {
  // margin-bottom: 40px;
  //   font-family: 'Roboto';
  position: absolute;
  left: 95px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 40px;
  //   text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-gallery-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 420px;
}
.our-gallery-img-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
.our-gallery-img-1 > img {
  padding-top: 155px;
  padding-left: 80px;
}
.our-gallery-img-2 {
  // padding-right: 110px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.our-gallery-img-3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .our-gallery-title {
    font-size: 36px;
    left: 55px;
  }

  .our-gallery-list {
    grid-template-rows: 280px;
  }
  .our-gallery-img-1 > img {
    width: 320px;
    padding-top: 93px;
    padding-left: 40px;
  }
  .our-gallery-img-2 > img {
    width: 350px;
  }
  .our-gallery-img-3 > img {
    width: 350px;
  }
}

@media screen and (max-width: 767.98px) {
  .our-gallery-title {
    position: relative;
    margin-bottom: 40px;
    left: 0;
    text-align: center;
  }
  .our-gallery-list {
    display: block;
  }
  .our-gallery-img-1 > img {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
  .our-gallery-img-2 > img {
    width: 100%;
    margin-bottom: 40px;
  }
  .our-gallery-img-3 > img {
    width: 100%;
    margin-bottom: 40px;
  }
}

// .our-gallery-list {
//   display: flex;
// }
