.workshop-title {
  text-align: center;
  margin-bottom: 14px;
  margin-top: 30px;
}
.workshop-text {
  margin-bottom: 10px;
  font-size: 18px;
}
.workshop-secondary-title {
  margin-bottom: 14px;
}
.workshop-container {
  margin-bottom: 60px;
}
.workshop-img {
  margin-right: auto;
  margin-left: auto;
}
