.why-us-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.why-us-des-container {
  display: flex;
  align-items: center;
  padding: 0 100px;
  margin-bottom: 40px;
}
.why-us-title {
  margin-bottom: 15px;
}
.why-us-des-text {
  width: 500px;
  margin-left: 90px;
}
.why-us-des-text > h2 {
  text-align: center;
}
.why-us-list {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}
.why-us-item {
  width: 300px;
}
.why-us-item-title {
  margin-bottom: 8px;
}
