<section class="bicycle-section">
  <div class="container">
    <h2 class="bicycle-title">Аксесуари</h2>
    <ul class="bicycle-list">
      <li class="bicycle-item">
        <a href="#">
          <img src="./images/marin.jpg" alt="" width="250" />
          <div class="bicycle-des">
            <h3 class="bicycle-name">Marin Bobcat trail</h3>
            <h2 class="bicycle-price">25000 грн.</h2>
          </div>
        </a>
      </li>
      <li class="bicycle-item">
        <a href="#">
          <img src="./images/marin.jpg" alt="" width="250" />
          <div class="bicycle-des">
            <h3 class="bicycle-name">Marin Bobcat trail</h3>
            <h2 class="bicycle-price">25000 грн.</h2>
          </div>
        </a>
      </li>
      <li class="bicycle-item">
        <a href="#">
          <img src="./images/marin.jpg" alt="" width="250" />
          <div class="bicycle-des">
            <h3 class="bicycle-name">Marin Bobcat trail</h3>
            <h2 class="bicycle-price">25000 грн.</h2>
          </div>
        </a>
      </li>
      <li class="bicycle-item">
        <a href="#">
          <img src="./images/marin.jpg" alt="" width="250" />
          <div class="bicycle-des">
            <h3 class="bicycle-name">Marin Bobcat trail</h3>
            <h2 class="bicycle-price">25000 грн.</h2>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
