<section class="brands-section">
  <div class="container">
    <h2 class="brands-title">Виробники</h2>
    <ul class="brands-list">
      <li class="brands-item">
        <img src="./images/cannondale.jpg" alt="" />
      </li>
      <li class="brands-item">
        <img src="./images/marin-logo.jpg" alt="" />
      </li>
      <li class="brands-item">
        <img src="./images/pride.jpg" alt="" />
      </li>
      <li class="brands-item">
        <img src="./images/schwinn.jpg" alt="" />
      </li>
      <li class="brands-item">
        <img src="./images/bataleon.jpg" alt="" />
      </li>
      <li class="brands-item">
        <img src="./images/bmc.jpg" alt="" />
      </li>
      <li class="brands-item">
        <img src="./images/burton.jpg" alt="" />
      </li>
    </ul>
  </div>
</section>
