<header class="header">
  <div class="container main-nav">
    <nav class="main-site-nav">
      <a href="./index.html" class="logo link"
        ><span class="logo-purple">Sport</span>life</a
      >

      <ul class="site-nav">
        <li class="item overlay">
          <a href="#" class="site-nav-link link current">Магазин</a>
        </li>
        <li class="item">
          <a href="#" class="site-nav-link link">Прокат</a>
        </li>
        <li class="item">
          <a href="#" class="site-nav-link link">Майстерня</a>
        </li>
        <li class="item">
          <a href="#" class="site-nav-link link">Контакти</a>
        </li>
        <li class="item">
          <a href="#" class="site-nav-link link">Про нас</a>
        </li>
      </ul>
    </nav>

    <!-- <button
      type="button"
      class="btn-menu-hamburger js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-menu-hamburger" width="32" height="22">
        <use href="#"></use>
      </svg>
    </button> -->

    <ul class="auth-nav">
      <li class="item">
        <a href="#">
          <svg width="24" height="24" class="nav-social-link">
            <use href="./images/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="item">
        <a href="#">
          <svg width="24" height="24" class="nav-social-link">
            <use href="./images/icon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="item">
        <a href="tel:+11(000)111-11-11" class="auth-nav-link link"
          >+11 (000) 111-11-11</a
        >
      </li>
    </ul>
  </div>

  <!-- <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="container mobile-menu-container">
      <button type="button" class="menu-close-btn js-close-menu">
        <svg class="menu-icon-close">
          <use href="#"></use>
        </svg>
      </button>

      <div class="mobile-nav">
        <ul class="mobile-site-nav">
          <li class="mobile-item">
            <a href="#" class="mobile-site-nav-link link current">Studio</a>
          </li>
          <li class="mobile-item">
            <a href="#" class="mobile-site-nav-link link">Portfolio</a>
          </li>
          <li class="mobile-item">
            <a href="#" class="mobile-site-nav-link link">Contacts</a>
          </li>
        </ul>
      </div>

      <div class="mobile-contacts">
        <ul class="mobile-auth-nav">
          <li class="mobile-item">
            <a href="tel:+11(000)111-11-11" class="auth-nav-link tel-link link"
              >+11 (000) 111-11-11</a
            >
          </li>
        </ul>

        <ul class="social-list">
          <li class="icon-item">
            <a href="#" class="social-link">
              <svg class="social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item">
            <a href="#" class="social-link">
              <svg class="social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item">
            <a href="#" class="social-link">
              <svg class="social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item">
            <a href="#" class="social-link">
              <svg class="social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
        </ul> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
</header>
