<section class="hero-section">
  <div class="container">
    <ul class="hero-list">
      <li class="hero-item">
        <a href="./winter.html" class="hero-link">
          <div class="hero-img">
            <img src="./images/snowboard.jpg" alt="Snowboard" width="400" />
            <h2 class="hero-title">Зима</h2>
          </div>
        </a>
        <div class="hero-list-snow">
          <svg width="20" height="20" class="hero-icon-snow">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="70" height="70" class="hero-icon-snow snow-1">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="30" height="30" class="hero-icon-snow snow-2">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="50" height="50" class="hero-icon-snow snow-3">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="25" height="25" class="hero-icon-snow snow-4">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="40" height="40" class="hero-icon-snow snow-5">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="25" height="25" class="hero-icon-snow snow-6">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="60" height="60" class="hero-icon-snow snow-7">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="30" height="30" class="hero-icon-snow snow-8">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
          <svg width="20" height="20" class="hero-icon-snow snow-9">
            <use href="./images/icon.svg#icon-snow"></use>
          </svg>
        </div>
      </li>

      <li class="hero-item">
        <a href="./summer.html" class="hero-link">
          <div class="hero-img">
            <img src="./images/bike.jpg" alt="Bike" width="400" />
            <h2 class="hero-title summer-title">Літо</h2>
          </div>
        </a>
        <div class="hero-list-sun">
          <svg width="20" height="20" class="hero-icon-sun">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="70" height="70" class="hero-icon-sun sun-1">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="30" height="30" class="hero-icon-sun sun-2">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="50" height="50" class="hero-icon-sun sun-3">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="25" height="25" class="hero-icon-sun sun-4">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="40" height="40" class="hero-icon-sun sun-5">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="25" height="25" class="hero-icon-sun sun-6">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="60" height="60" class="hero-icon-sun sun-7">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="30" height="30" class="hero-icon-sun sun-8">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg width="20" height="20" class="hero-icon-sun sun-9">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
