<section class="location-section" id="contacts">
  <div class="container location-info">
    <div>
      <a href="./index.html" class="logo link">
        <svg width="150" height="75">
          <use href="./images/icon.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="location-tel-list">
        <li class="location-tel-item">
          <a class="tel-nr" href="tel:0955555555">+38 (095) 555 55 55</a>
        </li>
        <li class="location-tel-item">
          <a class="tel-nr" href="tel:0668491089">+38 (066) 849 10 89</a>
        </li>
        <li class="location-tel-item">
          <a class="tel-nr" href="tel:0672758540">+38 (067) 275 85 40</a>
        </li>
      </ul>

      <ul>
        <li>
          <a
            href="https://goo.gl/maps/4FtUWENQdTMRL15V6"
            class="location-cont"
            target="_blank"
          >
            <div class="location-adress">
              <svg class="icon-location">
                <use href="./images/icon.svg#icon-location"></use>
              </svg>
              <p class="location-adress-text">Харків, Харківське шосе, 10</p>
            </div>
          </a>
          <ul>
            <li class="schedule-item">Пн-Пт: 12:00-20:00;</li>
            <li class="schedule-item">Суб: 11:00-20:00;</li>
            <li class="schedule-item">Нд: 11:00-20:00;</li>
          </ul>
        </li>

        <li>
          <a
            href="https://goo.gl/maps/VN4YJYRPF1rkXDWY6"
            class="location-cont"
            target="_blank"
          >
            <div class="location-adress">
              <svg class="icon-location">
                <use href="./images/icon.svg#icon-location"></use>
              </svg>
              <p class="location-adress-text">Харків, вул. Астрономічна, 35в</p>
            </div>
          </a>
          <ul>
            <li class="schedule-item">Пн-Пт: 12:00-20:00;</li>
            <li class="schedule-item">Суб: 11:00-20:00;</li>
            <li class="schedule-item">Нд: 11:00-20:00;</li>
          </ul>
        </li>

        <li>
          <a
            href="https://goo.gl/maps/jcMgjwHevCL1278K7"
            class="location-cont"
            target="_blank"
          >
            <div class="location-adress">
              <svg class="icon-location">
                <use href="./images/icon.svg#icon-location"></use>
              </svg>
              <p class="location-adress-text">Вінниця, просп.Космонавтів, 79</p>
            </div>
          </a>
          <ul>
            <li class="schedule-item">Пн-Пт: 12:00-20:00;</li>
            <li class="schedule-item">Суб: 11:00-20:00;</li>
            <li class="schedule-item">Нд: 11:00-20:00;</li>
          </ul>
        </li>
      </ul>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81966.07805813495!2d36.14836276801087!3d50.05932206151971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a6f40bcfa8a9%3A0x63fa29a0f59af17!2zU2t5TGlmZSAtINC_0YDQvtC60LDRgiDQktC10LvQvtGB0LjQv9C10LTQvtCyLCDQrdC70LXQutGC0YDQvtGB0LDQvNC-0LrQsNGC0L7Qsiwg0Y3Qu9C10LrRgtGA0L7QstC10LvQvtGB0LjQv9C10LTQvtCyLCDQodC90L7Rg9Cx0L7RgNC00L7Qsiwg0LPQvtGA0L3Ri9GFINC4INCx0LXQs9C-0LLRi9GFINC70YvQti4g0JDQstGC0L7RgdGC0LDQvdGG0LjRjyDQm9C10YHQvtC_0LDRgNC6!5e0!3m2!1suk!2sua!4v1684618832684!5m2!1suk!2sua"
      width="650"
      height="500"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
