<section class="location-section">
    <div class="container">
    <div class="contacts-first">
        <!-- <h3 class="contacts-title" lang="en">mimiho</h3> -->
        <!-- <h4>Ресторанно-готельний комплекс</h4> -->
        <div class="rest-tel">
            <!-- <span>Ресторан</span> -->
            <div class="call-rest">
                <!-- <svg class="mob-icon" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-phone"></use>
                </svg> -->
                <a class="tel-nr" href="tel:0955559533">095 555 95 33</a>
            </div>
        </div>
        <div class="hotel-tel">     
            <!-- <span>Готель</span> -->
            <div class="call-hotel">
                <!-- <svg class="mob-icon" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-phone"></use>
                </svg> -->
                <a class="tel-nr" href="tel:0668491089">066 849 10 89</a>
                <a class="tel-nr" href="tel:0672758540">067 275 85 40</a>
            </div>
        </div>
        <a href="https://goo.gl/maps/NvVK58mMgfZsAu4W6" class="location-cont">
            <!-- <svg class="loc-icon">
                <use href="./images/icons.svg#icon-location"></use>
            </svg>  -->
            <p class="location">Україна, м. Харків, </br>просп. Героїв <br>Харкова, 10</p>
        </a>
    </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81966.07805813495!2d36.14836276801087!3d50.05932206151971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a6f40bcfa8a9%3A0x63fa29a0f59af17!2zU2t5TGlmZSAtINC_0YDQvtC60LDRgiDQktC10LvQvtGB0LjQv9C10LTQvtCyLCDQrdC70LXQutGC0YDQvtGB0LDQvNC-0LrQsNGC0L7Qsiwg0Y3Qu9C10LrRgtGA0L7QstC10LvQvtGB0LjQv9C10LTQvtCyLCDQodC90L7Rg9Cx0L7RgNC00L7Qsiwg0LPQvtGA0L3Ri9GFINC4INCx0LXQs9C-0LLRi9GFINC70YvQti4g0JDQstGC0L7RgdGC0LDQvdGG0LjRjyDQm9C10YHQvtC_0LDRgNC6!5e0!3m2!1suk!2sua!4v1684618832684!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    </div>
</section>