<section class="our-gallery-section gray-bcg">
  <div class="container our-gallery-container">
    <h2 class="our-gallery-title">Наші фото</h2>
    <ul class="our-gallery-list">
      <li class="our-gallery-img-1">
        <img src="./images/gallery-1.jpg" alt="Skier" />
      </li>
      <li class="our-gallery-img-2">
        <img src="./images/gallery-2.jpg" alt="Snowboarder-1" />
      </li>
      <li class="our-gallery-img-3">
        <img src="./images/gallery-3.jpg" alt="Snowboarder-2" />
      </li>
    </ul>
  </div>
</section>
