<section class="quality-section">
  <div class="container">
    <ul class="quality-list">
      <li class="quality-item">
        <svg class="quality-icon" width="50" height="50">
          <use href="./images/icon.svg#icon-bicycle"></use>
        </svg>
        <h2 class="quality-text">Великий асортимент</h2>
      </li>
      <li class="quality-item">
        <svg class="quality-icon" width="48" height="44">
          <use href="./images/icon.svg#icon-worker"></use>
        </svg>
        <h2 class="quality-text">Кваліфікований персонал</h2>
      </li>
      <li class="quality-item">
        <svg class="quality-icon" width="44" height="44">
          <use href="./images/icon.svg#icon-machine"></use>
        </svg>
        <h2 class="quality-text">Сучасне обладнання</h2>
      </li>
      <li class="quality-item">
        <svg class="quality-icon" width="32" height="32">
          <use href="./images/icon.svg#icon-repair"></use>
        </svg>
        <h2 class="quality-text">Гарантійне обслуговування</h2>
      </li>
      <li class="quality-item">
        <svg class="quality-icon" width="32" height="32">
          <use href="./images/icon.svg#icon-compass"></use>
        </svg>
        <h2 class="quality-text">Зручне розташування</h2>
      </li>
    </ul>
  </div>
</section>
