<section class="why-us-section gray-bcg">
  <div class="container">
    <div class="why-us-des-container">
      <img src="./images/why-us.jpg" alt="" />
      <div class="why-us-des-text">
        <h2 class="why-us-title">Чому саме ми?</h2>
        <p class="why-us-text">
          Відвідавши нас, ви опинитесь у затишному і приємному прокаті міста. З
          досвідченими, позитивними та добрими співробітниками.
        </p>
        <p class="why-us-text">
          Вам не доведеться перейматись якістю. Все наше обладнання проходить
          тех. огляд після кожного клієнта та тех обслуговування 1 раз на
          тиждень.
        </p>
      </div>
    </div>

    <ul class="why-us-list">
      <li class="why-us-item">
        <h3 class="why-us-item-title">Великий асортимент</h3>
        <p>
          У нас найбільший вибір сноубордів та лиж у Харкові. Нові бігові лижі
          та черевики. Великий вибір велосипедів та аксесуарів.
        </p>
      </li>
      <li class="why-us-item">
        <h3 class="why-us-item-title">Безліч аксесуарів</h3>
        <p>
          Великий асортимент аксесуарів у нашому магазині та прокаті, для
          заняття гірськолижними та літніми видами спорту! Є усілякий захист на
          прокат у Харкові та Вінниці!
        </p>
      </li>
      <li class="why-us-item">
        <h3 class="why-us-item-title">Гарантійне обслуговування</h3>
        <p>
          Кваліфіковані майстри, які полагодять ваш велосипед або сноуборд по гарантії за невеликий проміжок часу.
        </p>
      </li>
    </ul>
  </div>
</section>
