<section class="why-us-section gray-bcg">
  <div class="container">
    <div class="why-us-des-container">
      <img src="./images/why-us.jpg" alt="" />
      <div class="why-us-des-text">
        <h2 class="why-us-title">Чому саме ми?</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ex
          similique incidunt cupiditate cumque deleniti sed corrupti earum
          voluptatum adipisci?
        </p>
      </div>
    </div>

    <ul class="why-us-list">
      <li class="why-us-item">
        <h3 class="why-us-item-title">Великий асортимент</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          distinctio.
        </p>
      </li>
      <li class="why-us-item">
        <h3 class="why-us-item-title">Безліч аксесуарів</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          distinctio.
        </p>
      </li>
      <li class="why-us-item">
        <h3 class="why-us-item-title">Гарантійне обслуговування</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          distinctio.
        </p>
      </li>
    </ul>
  </div>
</section>
